@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 
body{
    background-image: url("./img/qCTDzgN.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100% ;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
}
.logo{
    color: rgba(255, 0, 0, 0.61);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

#select{
    width: 80%;
    padding: 10px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.062);
    font-size: 17px;
    color:rgba(46, 160, 122, 0.774) ;
    border-radius: 10px;
    font-weight: bold;
    outline: none;
    display: flex;
    justify-content: center;
}

.cards:hover{
    scale: 1.04;
    transition: .3s;
}

/*                                          fouter*/

.foter{
    background-color: black;
    padding: 50px 10px;
    padding-bottom: 7px;
    margin-top: 50px;
}
.divfo1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.divfo1 div{
    max-width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(22, 22, 22);
}

.divfo1 div h3{
    font-weight: bold;
    color: rgb(228, 22, 101);
}

.divfo1 div p{
    font-weight: 200;
    font-size: 20px;
    color: gray;
}

.ico{
    font-size: 30px;
    color: gray;

}

